<app-navbar> Loading navbar... </app-navbar>

<div class="container">
  <div class="row">
    <!-- Left column contains only search form the style col-md-3 comes from
    Twitter Bootstrap grid system-->
    <div class="col-md-3">
        <app-search> Loading Search.. </app-search>
    </div>

    <!--
      Right column which is the main area of the page contains two rows (as per Twitter Bootstrap):
      1. First one keeps a carousel with featured products
      2. Second one has a flexible grid with products.
    -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
    
<app-footer> Loading Footer.. </app-footer>
    

